.history-card-container{
    margin: 20px;
    padding: 5px 12px;
    border-radius: 10px;
    box-shadow: 0 5px 17px -8px #A3A5AE;
    background-color: #FFF;
    width: 205px;
}

.history-card-container.green {
    border-right: 5px solid #45D3D3;
}

.history-card-container.red {
    border-right: 5px solid #EA5353;
}

.history-card-title {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.history-card-artist {
    font-size: 11px;
    font-weight: lighter;
    color: #636A73;
    width: 100%;
}