.history-card-container{
    margin: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 17px -8px #A3A5AE;
    background-color: #FFF;
    width: 230px;
}

.history-card-container.green {
    border-right: 5px solid #45D3D3;
}

.history-card-container.red {
    border-right: 5px solid #EA5353;
}

.history-card-title {
    font-size: 18px;
    font-weight: bold;
}

.history-card-artist {
    font-size: 14px;
    font-weight: lighter;
    color: #636A73;
}